
form > table {
    border-collapse: collapse;
    margin: auto;
}

form > table tr {
    border: 2px solid black;
}

.radio_td {
    text-align: center;
}

body > h2 {
   text-align: center; 
}

.submit_row {
    border: none;
    text-align: center;
}

.helptext {
    text-align: center;
}
