h2 {
    text-align: center;
}

#product_details > p {
    text-align: center;
}

#product_details > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 400px;
}

#view_cart > table > tbody > tr > td {
    border: 2px solid grey;
    border-collapse: collapse;
}

#view_cart > table {
    margin-left: auto;
    margin-right: auto;
}

#empty_cart_button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#grand_total {
    text-align: center;
}
