body {
    background-color: #2db3b5;
    /*background-color: green;*/
}

#anarchyjpg {
    width: 60px;
    height: 60px;
}

.top_container {
    height: 100px;
}

.flex_container {
    display: flex;
    flex-direction: row;
}

.flex_container nav {
    border: 3px solid yellow;
}

.flex_container nav ul {
    width: 200px;
    text-align: center;
}

.flex_container nav ul li {
    list-style-type: none;
    border-left: 3px solid yellow;
    padding: 10px;
}

.flex_container nav ul li a:hover {
    background-color: #00dffc;
    color: white;
}

.flex_container nav ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    border: 1px solid #6813f0;
    box-shadow: 3px 3px #6813f0;
}
